
<div *ngFor="let theUser of theUserData; let i = index">
<div style="background-color: whitesmoke; margin: 0;">
    <div class="forminmargin">
            <mat-card class="example-card">
                  <mat-card-title>User Information</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <div>
                            <div color="primary" ><br>
                                <table>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">User Id</td>
                                        <td>:</td>
                                        <td colspan="1">{{theUser.id}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">User Name</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theUser.name}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="name" id="name" [(ngModel)]="theUser.name" autofocus>
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">User Surname</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theUser.surname}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="surname" id="surname" [(ngModel)]="theUser.surname" autofocus>
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">Fiscal code</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theUser.taxCode}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="taxCode" id="taxCode" [(ngModel)]="theUser.taxCode" autofocus>
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div><br>
                    <ng-container style="padding-top: 20px;">
                        <mat-divider></mat-divider>
                    </ng-container>
                    <mat-divider></mat-divider>
                    <div><br>
                            <h2>User Contact</h2>
                                <div>
                                    <table>
                                        <tr>
                                            <td colspan="1" style="width: 150px;">Address</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                <ng-container *ngIf="!edit">
                                                    {{theUser.address}}
                                                </ng-container>
                                                <ng-container *ngIf="edit">
                                                    <mat-form-field>
                                                        <input matInput type="text" name="address" id="address" [(ngModel)]="theUser.address" autofocus>
                                                    </mat-form-field>
                                                </ng-container>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Email</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                    {{theUser.email}}
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Phone</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                <ng-container *ngIf="!edit">
                                                    {{theUser.phone}}
                                                </ng-container>
                                                <ng-container *ngIf="edit">
                                                    <mat-form-field>
                                                        <input matInput type="text" name="phone" id="phone" [(ngModel)]="theUser.phone" autofocus>
                                                    </mat-form-field>
                                                </ng-container>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="1">Customer Id Contact</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                    {{theUser.customerId}}
                                            </td>
                                        </tr>
    
                                    </table>
                                </div>
                    </div>
                  
                </mat-card-content>
            </mat-card>
            <ng-container style="padding-top: 20px;">
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </div>
    <div style="position: fixed; right: 40px; bottom: 30px; display: inline-block;">
        <div style="padding-bottom: 20px;">
            <!-- <button mat-fab [routerLink]="['/edit-ticket/', theUserData.id]"><mat-icon>edit-row</mat-icon></button> -->
            <button mat-fab (click)="editFields()"><mat-icon>edit-row</mat-icon></button>
        </div>
        <div style="padding-bottom: 20px;">
            <button mat-fab
            #tooltip="matTooltip"
              matTooltip="Save changes"
              (click)="updateChanges(theUser.id)"
            ><mat-icon>save</mat-icon></button>
        <!-- [routerLink]="['/edit-ticket/', theUserData.id]" -->
        </div>
        <div>
            <button mat-fab color="warn" routerLink="/create-ticket"
            #tooltip="matTooltip"
            matTooltip="Return to List without changes">
            <mat-icon>close</mat-icon></button>
        </div>
    </div>
</div>
