<!-- {{TicketList[3] | json}} -->
<h1>Ticketing</h1>
<div class="table">
<router-outlet></router-outlet>
    <table class="full-width table-stripped table-hover">
        <thead>
            <th>Status</th>
            <th>Ticket Agency</th>
            <th>Details</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of TicketList; let i = index" 
            [class.active]="i == currentIndex"
            (clic)="setCurrentTicket(dataItem, i)" [routerLink]="['/viewticket/',dataItem.id]" style="cursor: pointer;">
                    <td class="row">
                        <div class="col-auto">
                            <button [ngClass]="{'TicketResolved':dataItem.status === 'RESOLVED', 'TicketAborted': dataItem.status === 'ABORTED', 'TicketManaged': dataItem.status === 'MANAGING', 'TicketOpened':dataItem.status ==='OPENED'}">
                                <span style="display: none;">{{dataItem.status}}</span>{{dataItem.type}}</button>
                            </div>
                            <div class="col-auto">
                                <div [ngClass]="{'step1done': dataItem.version === 1}">
                                    <div class="circle1">
                                    </div>
                                    <div class="circle2" [ngClass]="{'step2done':dataItem.version === 2}">
                                    </div>
                                    <div class="circle3" [ngClass]="{'step3done':dataItem.version === 3}">
                                    </div>
                                    <div class="circle4" [ngClass]="{'step4done':dataItem.version === 4}">
                                    </div>
                                </div>
                            </div>
                    </td>
                    <td class="med-text">
                            {{dataItem.address}}
                            <div>
                                AAMS: <span class="bold">{{dataItem.managerId}}</span> | Ticket: {{dataItem.code}}
                            </div>
                    </td>
                    <td class="med-text"><span>{{dataItem.description}}</span>
                    <br><span class="xs-text" [ngStyle]="{'color': dataItem.priority === 'LOW'? 'green':'black'}">Priority: {{dataItem.priority}}</span></td>
                    <td class="med-text">{{dataItem.creationDate | date: 'M/d/yy, h:mm a'}}</td>
                </tr>
        </tbody>
    </table>
    <div style="position: fixed; right: 40px; bottom: 30px;">
        <button mat-fab routerLink="/create-ticket"><mat-icon>add</mat-icon></button>
    </div>
</div>