<!-- {{TicketList[3] | json}} -->
<!-- <h1>Ticketing</h1> -->
<div class="filterboxes">
    <div class="row">
        &nbsp;
        <mat-form-field class="col-12" appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search the ticket">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col" >
            <mat-label>Filter by Status:</mat-label>
            <mat-select matNativeControl id="type" name="type">
              <mat-option value="INS">OPENED</mat-option>
              <mat-option value="INT">MANAGING</mat-option>
              <mat-option value="MAN">PROCESSING</mat-option>
              <mat-option value="MAN">CLOSED</mat-option>
              <mat-option value="MAN">CANCELLED</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;    
        <mat-form-field class="col" >
            <mat-label>Filter by Type:</mat-label>
            <mat-select matNativeControl id="type" name="type">
              <mat-option value="INS">INSTALATION</mat-option>
              <mat-option value="INT">INTEGRATION</mat-option>
              <mat-option value="MAN">MAINTENANCE</mat-option>
              <mat-option value="DIS">UNINSTALL</mat-option>
              <mat-option value="SUP">SUPPORT</mat-option>
              <mat-option value="IND">INTEGRATION DELIVERY</mat-option>
              <mat-option value="MND">MAINTENANCE DELIVERY</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;    
          <mat-form-field class="col" >
            <mat-label>Filter by Priority:</mat-label>
            <mat-select matNativeControl id="type" name="type">
              <mat-option value="INS">LOW</mat-option>
              <mat-option value="INT">NORMAL</mat-option>
              <mat-option value="MAN">HIGH</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field class="col-auto" appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
          &nbsp;
          <div class="col-auto">
            <button mat-icon-button routerLink="/create-ticket"
            #tooltip="matTooltip"
            matTooltip="Download ticket report"
            ><mat-icon>cloud_download</mat-icon></button>
        </div>
    </div>
</div>
<div class="table">
<router-outlet></router-outlet>
<!--  -->
<!-- FILTERS FOR SEARCHING -->
<!--  -->
<!--  -->


    <table class="full-width table-stripped table-hover">
        <thead>
            <th>Status</th>
            <th>Ticket Agency</th>
            <th>Details</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of TicketList; let i = index" 
            [class.active]="i == currentIndex"
            (clic)="setCurrentTicket(dataItem, i)" [routerLink]="['/viewticket/',dataItem.id]" style="cursor: pointer;">
                    <td class="row">
                        <div class="col-auto">
                            <button [ngClass]="{'TicketResolved':dataItem.status === 'RESOLVED', 'TicketAborted': dataItem.status === 'ABORTED', 'TicketOpened':dataItem.status ==='OPENED'||'MANAGING'}">
                                <span style="display: none;">{{dataItem.status}}</span>{{dataItem.type}}</button>
                        </div>
                        <div class="col-auto" style="margin-top: auto; margin-bottom: auto; margin-left: -18px;">
                            <div [ngClass]="{'step1done': dataItem.version === 1}">
                                <div class="circle1">
                                </div>
                                <div class="circle2" [ngClass]="{'step2done':dataItem.version === 2}">
                                </div>
                                <div class="circle3" [ngClass]="{'step3done':dataItem.version === 3}">
                                </div>
                                <div class="circle4" [ngClass]="{'step4done':dataItem.version === 4}">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="med-text">
                            {{dataItem.address}}
                            <div>
                                AAMS: <span class="bold">{{dataItem.managerId}}</span> | Ticket: {{dataItem.code}}
                            </div>
                    </td>
                    <td class="med-text"><span>{{dataItem.description}}</span>
                    <br><span class="xs-text" [ngStyle]="{'color': dataItem.priority === 'LOW'? 'green':'black'}">Priority: {{dataItem.priority}}</span></td>
                    <td class="med-text">{{dataItem.creationDate | date: 'M/d/yy, h:mm a'}}</td>
                </tr>
        </tbody>
    </table>
</div>
<div>
    <span style="display: none;">END OF TICKET LIST</span>&nbsp;
</div>
<div style="position: fixed; right: 40px; bottom: 30px;">
    <div style="padding-bottom: 20px;">
        <button mat-fab (click)="openDialogExcelBox()"
        #tooltip="matTooltip"
        matTooltip="Upload several Tickets"
        ><img src="https://img.icons8.com/material-sharp/24/000000/xls-import.png"/></button>
        <div style="display: none;">
            <a target="_blank" href="https://icons8.com/icons/set/xls-import">Xls Import icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
    </div>
    <div>
        <button mat-fab routerLink="/create-ticket"
        #tooltip="matTooltip"
        matTooltip="Generate New Ticket"
        ><mat-icon>add</mat-icon></button>
    </div>
</div>