<!-- {{TicketList | json}} -->
<h1>Ticketing</h1>
<div class="table">
<router-outlet></router-outlet>
    <table class="full-width table-stripped table-hover">
        <thead>
            <th>Status</th>
            <th>Ticket Agency</th>
            <th>Details</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of TicketList; let i = index" 
            [class.active]="i == currentIndex"
            (clic)="setCurrentTicket(dataItem, i)" [routerLink]="['/viewticket/',dataItem.id]" style="cursor: pointer;">
                    <td>
                        <div>
                            <button [ngClass]="{'TicketResolved':dataItem.status === 'RESOLVED', 'TicketAborted': dataItem.status === 'ABORTED', 'TicketManaged': dataItem.status === 'MANAGING', 'TicketOpened':dataItem.status ==='OPENED'}">
                                <span style="display: none;">{{dataItem.status}}</span>{{dataItem.type}}</button>
                        </div>
                    </td>
                    <td class="med-text">
                        <!-- <span style="visibility: hidden;" #agencyIdShow> -->
                            {{dataItem.agencyId}}
                        <!-- </span> -->
                        <!-- <div *ngFor="let agency of AgencyList">
                            <div *ngIf="agency.id === agencyIdShow">
                                {{agency.name}}
                            </div>
                        </div> -->
                    </td>
                    <td class="med-text"><span>{{dataItem.description}}</span>
                    <br><span class="xs-text" [ngStyle]="{'color': dataItem.priority === 'LOW'? 'green':'black'}">Priority: {{dataItem.priority}}</span></td>
                    <td class="med-text">{{dataItem.creationDate | date: 'M/d/yy, h:mm a'}}</td>
                </tr>
        </tbody>
    </table>
    <div style="position: fixed; right: 40px; bottom: 30px;">
        <button mat-fab routerLink="/create-ticket"><mat-icon>add</mat-icon></button>
    </div>
</div>