<ng-container >
    <div id="dataPdf" style="width: 95%; height: 100%; align-self: center; padding: 20px;">

        <table border="1">
            <!-- encabezado PDF -->
            <tr style="border-top: 3px solid gray;">
                <td>
                    <img src="assets/img/logo-lumia-2.png" alt="Logo Lumia" height="100px">
                </td>
                <td style="font-size: 12px; line-height: 15px;">
                    Via Selva Di Sotto Snc, Località Cese <br>
                    San Salvatore Telesino -Telese- 82030 (BN) Italy <br>
                    Telefono: +39-0824-948243 <br>
                    Fax: +39-0824-948243 <br>
                    P.IVA / C.F. 03949540615 <br>
                    email: info@lumiasrl.com <br>
                </td>
                <td colspan="2">
                    <table width="450">
                        <tr>
                            <td style="text-align: right;">
                                Doc. Transport: 
                            </td>
                            <td style="text-align: left; border: 1px solid;">
                                Data from table
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                Date: 
                            </td>
                            <td style="text-align: left; border: 1px solid;">
                                Data from table
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                Installation: 
                            </td>
                            <td style="text-align: left; border: 1px solid;">
                                Data from table
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                Page No.: 
                            </td>
                            <td style="text-align: left; border: 1px solid;">
                                Data from table
                            </td>
                        </tr>
                    </table>
                </td>
    </tr>
    <tr style="border-top: 3px solid gray; width: 95%;">
        <td style="padding-left: 20px;">
            <h2>
                Client
            </h2>
        </td>
    </tr>
    <tr style="border-top: 1.5px solid gray; width: 95%;">
        <td colspan="2" style="padding-left: 40px;">
            <tr>
                <td>
                    Agency Code: 
                </td>
            </tr>
            <tr>
                <td>
                    Fiscal Code: 
                </td>
            </tr>
            <tr>
                <td>
                    Certification: 
                </td>
            </tr>
            <tr>
                <td>
                    Address: 
                </td>
            </tr>
            <tr>
                <td>
                    Phone: 
                </td>
            </tr>
            <tr>
                <td>
                    Email: 
                </td>
            </tr>
            <tr>
                <td>
                    IVA: 
                </td>
            </tr>
        </td>
    </tr>
    <tr style="border-top: 3px solid silver; width: 95%;">
        <td  style="padding-left: 20px;">
            <h2>
                DDT: 
            </h2>
        </td>
    </tr>
    <tr>
        <td width="8%" style="padding-left: 20px;">Qty.</td>
        <td width="92%">Item</td>
    </tr>
    <tr>
        <td  style="padding-left: 20px;">
                1 
        </td>
        <td>TV Toshiba 40"
            <br>
            SerialNumber
        </td>
    </tr>
    <tr>
        <td colspan="6" style="padding: 20px;">
                <div class="d-flex">
                        <div class="flex-fill p-2  border border-1">
                            <div style="font-size: 12px; color: grey;">Aspetto esteriore dei beni</div>
                            <div>
                                TEXT DESCRIPTION
                            </div>
                        </div>
                        <div  class="flex-fill p-2 border border-1">
                            <span style="font-size: 12px; color: grey;">nr. colli</span>
                            <br>
                            TEXT DESCRIPTION
                        </div>
                        <div class="flex-fill p-2 border border-1">
                            <span style="font-size: 12px; color: grey;">Porto</span>
                            <br>
                            TEXT DESCRIPTION
                        </div>
                        <div class="flex-fill p-2 border border-1">
                            <span style="font-size: 12px; color: grey;">Data ora inizio trasporto</span>
                            <br>
                            TEXT DESCRIPTION
                        </div>
                        <div class="flex-fill p-2 border border-1">
                            <span style="font-size: 12px; color: grey;">Firma Tecnico</span>
                            <br>
                            TEXT DESCRIPTION
                        </div>
                        <div class="flex-fill p-2 border border-1">
                            <span style="font-size: 12px; color: grey;">Firma Destinatario</span>
                            <br>
                            TEXT DESCRIPTION
                        </div>
                </div>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="font-size: 10px; line-height: 10px; text-align: center;">
            Ai sensi del D.Lgs 196/2003, Vi informiamo che i vs dati saranno utilizzati esclusivamente per i fini connessi ai rapporti commerciali tra di noi in essere. <br>
            Vi preghiamo di controllare i Vs dati anagrafici, la partita IVA ed il Codice fiscale. <br>
            non ci riteniamo responsavili per eventuali errori.
        </td>
    </tr>
</table>
</div>
</ng-container>
<button (click)="ddtDownload()">Descarga DDT</button>