<p>Prueba</p>
<form [formGroup]="allestimentoForm">
    <div formArrayName="items" *ngFor="let obj of equipments.controls; let i = index">
        <div [formGroupName]="i">
          <div >
            <label [attr.for]="'item' + i">Item</label>
            <div >
              <input type="text" [attr.id]="'item' + i" formControlName="telefono">
            </div>
            <div >
              <button (click)="removeEquipment(i)">Remover</button>
            </div>
          </div>
        </div>
      </div>
</form>