  
<!-- <h1>Nemesis Users</h1> -->
<div class="filterboxes">
    &nbsp;
    <mat-form-field class="col-12" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search user">
    </mat-form-field>
</div>
<div class="table">
<router-outlet></router-outlet>
    <table class="full-width table-stripped table-hover">
        <thead>
            <th>Contact Name</th>
            <th>Contact Data</th>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of Contact; let i = index"
            [class.active]="i == currentIndex"
            (click)="setCurrentUser(dataItem, i)" [routerLink]="['viewcontact/',dataItem.id]" style="cursor: pointer;"
            >
                <td>
                    <table>
                        <tr><td class="Agency-name">{{dataItem.name}} {{dataItem.surname}}</td></tr>
                        <tr><td class="Agency-below">{{dataItem.taxCode}}</td></tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ><td class="agency-detailsright"><span class="material-icons" style="font-size:medium;">location_on</span>{{dataItem.address}}</td></tr>
                        <tr><td class="agency-detailsright"><span class="material-icons" style="font-size:medium;">phone_iphone</span>{{dataItem.phone}}</td></tr>
                        <tr><td class="agency-detailsright"><span class="material-icons" style="font-size:medium;">perm_contact_calendar</span>{{dataItem.user}}</td></tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
<div>
    <span style="display: none;">END OF CUSTOMER LIST</span>&nbsp;
</div>
<div style="position: fixed; right: 40px; bottom: 30px;">
    <button mat-fab routerLink="/registro"><mat-icon>add</mat-icon></button>
</div>
<!-- <div class="botonflotante">
    <a routerLink="/create-agency">+</a>
    
    <div class="botonflotante">
        <a routerLink="/create-contact">+</a>
    </div>
</div> -->