<div class="boxformcreate">
  <div class="forminmargin">
    <h1 class="h1-form">New Nemesis User</h1>
    <form #contactForm="ngForm" (ngSubmit)="saveContact()">
    <p>
      
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput id="name" name="name" placeholder="First Name" [(ngModel)]="contactModel.name" required>
      </mat-form-field>
    </p>
    <p><mat-form-field class="full-width">
      <mat-label>Surname</mat-label>
      <input matInput id="surname" name="surname" placeholder="Surname" [(ngModel)]="contactModel.surname">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Fiscal Code</mat-label>
      <input matInput id="FiscalCode" name="FiscalCode" placeholder="Fiscal Code" [(ngModel)]="contactModel.taxCode">
    </mat-form-field>
  </p>
  <h2>Contact Customer</h2>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Customer</mat-label>
      <input matInput placeholder="Customer" [(ngModel)]="contactModel.customerId">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Contact Address</mat-label>
      <input matInput id="Address" name="Address" placeholder="Address" [(ngModel)]="contactModel.address">
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field class="full-width">
      <mat-label>Contact Phone</mat-label>
      <input matInput id="Phone" name="Phonr" placeholder="Phone" [(ngModel)]="contactModel.phone">
    </mat-form-field>
  </p>
  <h2>Role</h2>
  <div>
    <section id="user" name="user" class="checksection" [(ngModel)]="contactModel.user">
      <mat-checkbox class="checkleftmargin" (value)="RoleA=1">Administrator</mat-checkbox>
      <mat-checkbox class="checkleftmargin" (value)="RoleE=1">Techinician</mat-checkbox>
      <mat-checkbox class="checkleftmargin" (value)="RoleC=1">Customer</mat-checkbox>
      <mat-checkbox class="checkleftmargin" (value)="RoleT=1">Warehouse</mat-checkbox>
    </section>
    <!-- <input type="checkbox" id="user" name="user" value="ADMIN" [(ngModel)]="contactModel.user"><label for="user">Administrator</label>
    <input type="checkbox" id="user" name="user" value="TECH" [(ngModel)]="contactModel.user"><label for="user">Technician</label>
    <input type="checkbox" id="user" name="user" value="CUSTOMER" [(ngModel)]="contactModel.user"><label for="user">Customer</label>
    <input type="checkbox" id="user" name="user" value="WAREHOUSE" [(ngModel)]="contactModel.user"><label for="user">Warehouse</label> -->
  </div>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" placeholder="Password" [(ngModel)]="contactModel.phone">
    </mat-form-field>
  </p>
  <!-- {{contactModel | json}} -->
  <div class="btncenter">
    <div>
      <button mat-raised-button class="cancel" [routerLink]="['/contacts']"><span class="material-icons">clear</span>Cancel</button>
    </div>
    <div>
      <button mat-raised-button class="savebtn" type="submit"><span class="material-icons">done</span> Save</button>
    </div>
  </div>
</form>
</div>
</div>

<!-- 
  
  <div class="table boxform">
    <form class="create-form" #contactForm="ngForm" novalidate>
      
      <table class="full-width" cellspacing="0">
        <tr>
          <td colspan="2">
            <h1 class="h1-form">CREATE NEW CONTACT</h1>
            
          </td>
        </tr>
        <tr>
        <td>
          <label for="name">Name</label>
          <input class="full-width" name="name" id="name" matInput [(ngModel)]="contactModel.name">
        </td>
        <td>
          <label>Last Name</label>
          <input  class="full-width" matInput name="surname" id="surname" [(ngModel)]="contactModel.surname">
        </td>
      </tr>
      
      <tr><td>
          <label>Fiscal Code</label>
          <input class="full-width" matInput placeholder="0924496896001" name="taxCode" id="taxCode" [(ngModel)]="contactModel.taxCode">
      </td>
      <td>
          <label>Contact Customer</label>
          <input class="full-width" matInput placeholder="Type a letter to select" name="customerId" id="customerId" [(ngModel)]="contactModel.customerId">
      </td>
    </tr>
  </table>
      <table class="full-width" cellspacing="0">
        <tr>
        <td>
          <label>Address</label>
          <input class="full-width" matInput placeholder="Ex. San Francisco" name="address" id="address" [(ngModel)]="contactModel.address">
        </td>            
        <td>
            <label>Email</label>
            <input class="full-width" matInput placeholder="mail@mail.com" type="email" name="email" id="email">
        </td>
        <td>
        </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
                <label>Phone</label>
                <input class="full-width" matInput name="phone" id="phone" [(ngModel)]="contactModel.phone">
            </td>
            <td>
                <label>Role</label>

                <select mat-select class="full-width" name="user" id="user" [(ngModel)]="contactModel.user">
                    <option value="Admin">Admin</option>
                    <option value="Techinician">Technician</option>
                    <option value="Customer">Customer</option>
                    <option value="Warehouser">Warehouse</option>
                </select>
              </td>
      </tr>
      <tr>
          <td class="boton-form-centrado">
          <button mat-raised-button class="cancel" routerLink="/contacts"><span class="material-icons">
            clear</span>Cancel</button>
          </td>
        <td>
          <button mat-raised-button class="savebtn" type="submit" (click)="saveContact()" ><span class="material-icons">
            done
            </span> Save</button>
        </td>


        </tr>
    
    </table>
    </form>
  </div> -->