<div style="padding-top: 20px;">
    <mat-card class="full-width">
        <div class="row">
            <div class="col">
                <mat-card-title>Adittional Equipment: </mat-card-title>
            </div>
            <div class="col-auto">
                <button mat-icon-button (click)="addItem()"><mat-icon>add</mat-icon></button>
            </div>
            <div class="col-md-3 ms-md-auto">
                <button mat-icon-button (click)="saveEquipment()"><mat-icon>save</mat-icon>Save changes</button>
            </div>
        </div>
        {{additionals | json}}

        <div class="container" #equipment>
            <div>
                <div> 
                    <div class="row" *ngFor="let obj of tagsarray; let i = index" >
                        <div class="col-auto">
                            <button mat-icon-button (click)="addItem()"><mat-icon>add</mat-icon></button>
                        </div>
                        <div class="col-auto">
                            <button  mat-icon-button (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
                        </div>
                        <!-- <div class="col-auto">
                            <mat-form-field class="full-width">
                                <mat-select matNativeControl id="selection" name="selection">
                                    <mat-option value="name">By Name</mat-option>
                                    <mat-option value="tag">By Tag</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        
                        <!-- <div class="col-3">
                            <mat-form-field class="full-width">
                                <mat-label>Qty.</mat-label>
                                <input matInput type="number" name="quantity{{i}}" [(ngModel)]="additionals.quantity" value=1/>
                            </mat-form-field>
                        </div> -->
                        <div class="col-auto">
                            <mat-form-field class="full-width">
                                <mat-select matNativeControl name="item{{i}}" [(ngModel)]="additionals.item">
                                    <mat-option *ngFor="let tag of newtags" [value]="tag.name">{{tag.id}} | {{tag.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
</mat-card>
</div>

<router-outlet></router-outlet>