
<div style="background-color: whitesmoke; margin: 0;">
    <div class="forminmargin">
        <div *ngFor="let theAgency of theAgencyData; let i = index">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Agency Information</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <div>
                            <div color="primary" >
                                <table>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Agency Id</td>
                                        <td>:</td>
                                        <td colspan="1">{{theAgency.id}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Agency Name</td>
                                        <td>:</td>
                                        <td colspan="1">{{theAgency.name}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">VAT Number</td>
                                        <td>:</td>
                                        <td colspan="1">{{theAgency.vat}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Manager ID</td>
                                        <td>:</td>
                                        <td colspan="1">{{theAgency.managerId}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">Certification Code</td>
                                        <td>:</td>
                                        <td colspan="1">{{theAgency.certification}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <ng-container style="padding-top: 20px;">
                        <mat-divider></mat-divider>
                    </ng-container>
                    <mat-divider></mat-divider>
                    <div>
                        <h2>Agency Contacts</h2>
                                <div>
                                    <table>
                                        <tr>
                                            <td colspan="1" style="width: 150px;">Address</td>
                                            <td>:</td>
                                            <td colspan="1">{{theAgency.address}}</td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Email</td>
                                            <td>:</td>
                                            <td colspan="1">{{theAgency.email}}</td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Phone</td>
                                            <td>:</td>
                                            <td colspan="1">{{theAgency.phone}}</td>
                                        </tr>

                                        <tr>
                                            <td colspan="1">Customer Id</td>
                                            <td>:</td>
                                            <td colspan="1">{{theAgency.customerId}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="1">More Info</td>
                                            <td>:</td>
                                            <td colspan="1">{{theAgency.moreInfo}}</td>
                                        </tr>
    
                                    </table>
                                </div>
                    </div>
                  
                </mat-card-content>
            </mat-card>
            <ng-container style="padding-top: 20px;">
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </div>
</div>

<div style="position: fixed; right: 40px; bottom: 30px; display: inline-block;">
    <div style="padding-bottom: 20px;">
        <button mat-fab [routerLink]="['/edit-ticket/', theAgencyData.id]"><mat-icon>edit-row</mat-icon></button>
    </div>
    <div style="padding-bottom: 20px;">
        <button mat-fab
        #tooltip="matTooltip"
          matTooltip="Save changes"
        ><mat-icon>save</mat-icon></button>
    <!-- [routerLink]="['/edit-ticket/', theAgencyData.id]" -->
    </div>
    <div>
        <button mat-fab color="warn" routerLink="/create-ticket"
        #tooltip="matTooltip"
        matTooltip="Return to List without changes">
        <mat-icon>close</mat-icon></button>
    </div>
</div>