
<div style="background-color: whitesmoke; margin: 0;">
    <div class="forminmargin">
        <div *ngFor="let theItem of theItemWarehouse; let i = index">
            <mat-card class="example-card">
                  <mat-card-title>{{theItem.name}}</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <div>
                            <div color="primary" ><br>
                                <table>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Item Id</td>
                                        <td>:</td>
                                        <td colspan="1">{{theItem.id}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Category</td>
                                        <td>:</td>
                                        <td colspan="1">{{theItem.categoryId}} - 
                                            <ng-container *ngFor="let category of categoryList">
                                                <span *ngIf="theItem.categoryId == category.id">
                                                    {{category.category_name}}
                                                </span>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Serial No.</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theItem.serial}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="serial" id="serial" [placeholder]="theItem.serial" [(ngModel)]="changes.serial" autofocus>
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Activation Code</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theItem.activation}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <input matInput type="text" name="activation" id="activation" [placeholder]="theItem.activation" [(ngModel)]="changes.activation">
                                            </ng-container>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Warehouse Id</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theItem.warehouseId}} - 
                                                <ng-container *ngFor="let warehouse of warehouses">
                                                    <span *ngIf="theItem.warehouseId == warehouse.id">
                                                        {{warehouse.name}}
                                                    </span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                    <mat-form-field class="full-width">
                                                        <mat-label>Location</mat-label>
                                                        <mat-select matInput name="warehouseId" id="warehouseId" [(ngModel)]="changes.warehouseId">
                                                            <mat-option *ngFor="let warehouse of warehouses; let i = index" [value]="warehouse.id">
                                                                <ng-container>
                                                                    {{warehouse.name}}
                                                                </ng-container>
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr><br>
                                    <mat-divider></mat-divider><br>
                                    <tr>
                                        <h2>Item State</h2>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">New item?</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                <div *ngIf="theItem.used == 1">
                                                    <mat-icon style="vertical-align: middle;">check_box</mat-icon>
                                                </div>
                                                <div *ngIf="theItem.used == 0">
                                                    <mat-icon style="vertical-align: middle;">check_box_outline_blank</mat-icon>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <ng-container *ngIf="theItem.used == 1">
                                                    Actual status: Working Item.
                                                </ng-container>
                                                <ng-container *ngIf="theItem.used == 0">
                                                    Actual status: Used Item.
                                                </ng-container><br>
                                                <mat-radio-group [(ngModel)]="changes.used">
                                                    <mat-radio-button value=1>Used</mat-radio-button>
                                                    <mat-radio-button value=0>New</mat-radio-button>
                                                  </mat-radio-group>
                                            </ng-container>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">Location</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theItem.location}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="location" id="location" [(ngModel)]="changes.location">
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">Status</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theItem.status}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="status" id="status" [(ngModel)]="changes.status">
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">Status Details</td>
                                        <td>:</td>
                                        <td colspan="1">
                                            <ng-container *ngIf="!edit">
                                                {{theItem.statusDescription}}
                                            </ng-container>
                                            <ng-container *ngIf="edit">
                                                <mat-form-field>
                                                    <input matInput type="text" name="statusDescription" id="statusDescription" [(ngModel)]="changes.statusDescription">
                                                </mat-form-field>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div><br>
                    <ng-container style="padding-top: 20px;">
                        <mat-divider></mat-divider>
                    </ng-container>
                    <mat-divider></mat-divider>
                    <div><br>
                        <h2>Item Warranty</h2>
                                <div>
                                    <table>
                                        <tr>
                                            <td colspan="1" style="width: 150px;">Invoice Date</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                <ng-container>
                                                    {{theItem.warranty_invoiceDate | date: 'yyyy-MM-dd'}}
                                                </ng-container>
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Warranty Period</td>
                                            <td>:</td>
                                            <td colspan="1">
                                                <ng-container *ngIf="!edit">
                                                    {{theItem.warranty_period}}
                                                </ng-container>
                                                <ng-container *ngIf="edit">
                                                    <mat-form-field>
                                                        <input matInput type="text" name="warranty_period" id="warranty_period" [(ngModel)]="changes.warranty_period">
                                                    </mat-form-field>
                                                </ng-container>
                                            </td>
                                        </tr>
    
                                    </table>
                                    <span style="color: brown;">
                                        {{changes | json}}
                                    </span>
                                </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div style="position: fixed; right: 40px; bottom: 30px; display: inline-block; z-index: 1;">
                <div style="padding-bottom: 20px;">
                    <button mat-fab (click)="editFields();"><mat-icon>edit-row</mat-icon></button>
                </div>
                <div style="padding-bottom: 20px;" *ngIf="edit">
                    <button mat-fab
                    #tooltip="matTooltip"
                      matTooltip="Save changes"
                      (click)="updateChanges(theItem.id); editFields()"
                    ><mat-icon>save</mat-icon></button>
                </div>
                <div>
                    <button mat-fab color="warn" routerLink="/warehouse"
                    #tooltip="matTooltip"
                    matTooltip="Return to List without changes">
                    <mat-icon>close</mat-icon></button>
                </div>
            </div>
            <ng-container style="padding-top: 20px;">
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </div>
</div>
<div class="forminmargin">
    <mat-card>
        <table width="80%">
            <thead style="border-bottom: 2px solid gray; height: 40px;">
                <td width="25%">Date</td>
                <td width="55%">Activity</td>
                <td width="20%">User</td>
            </thead>
            <tbody>
                <tr>
                    <td>
    
                    </td>
                    <td>
    
                    </td>
                    <td>
    
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>