<div class="boxformcreate">
    <div class="forminmargin">
      <h1 class="h1-form">REGISTER NEW ITEM</h1>
      <form #ticketForm="ngForm" (ngSubmit)="saveItem(); saveItemTrack()">
          <div class="row">

              <div class="col">
                  <mat-form-field class="full-width" >
                      <mat-label>Item Name</mat-label>
                      <input matInput id="name" name="name" type="text" [(ngModel)]="itemModel.name">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width" >
                        <mat-label>Description / Model</mat-label>
                        <input matInput name="description" id="descripton" [(ngModel)]="itemModel.description" />
                    </mat-form-field>
                </div>
                <div class="col-auto">
                    <mat-form-field class="full-width" >
                        <mat-label>Supplier</mat-label>
                        <input matInput name="supplier" id="supplier" [(ngModel)]="itemModel.supplier" />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Serial</mat-label>
                        <input matInput name="code" id="code" [(ngModel)]="itemModel.serial"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Warranty Period</mat-label>
                        <input matInput name="warranty" id="warranty" [(ngModel)]="itemModel.warrantyPeriod"/>
                    </mat-form-field>
                    
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Invoice Number</mat-label>
                        <input matInput name="invoice_number" id="invoice_number" [(ngModel)]="itemModel.invoice_purchase"/>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                    <mat-label>Date of Purchase</mat-label>
                    <input matInput name="warranty_invoiceDate" id="warranty_invoiceDate" [matDatepicker]="picker" [(ngModel)]="invoiceDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Category</mat-label>
                        <mat-select matInput name="category" id="category" [(ngModel)]="itemModel.categoryId">
                            <div class="full-width">
                                <input type="text" name="categorynew" style="border: 0; height: 40px; width: 90%;" placeholder="Add new category" [(ngModel)]="category.category_name"/>
                                <button style="border: none; width: 40px; height: 40px; flex: auto;" (click)="addCategory()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <mat-option *ngFor="let category of categoryList" [value]="category.id">{{category.category_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>
            <ng-container>
                <mat-divider></mat-divider>
            </ng-container>
            <div class="row">
                <p></p>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Location</mat-label>
                        <mat-select matInput name="condition" id="condition" [(ngModel)]="itemModel.warehouseId">
                            <mat-option disabled>Warehouse</mat-option>
                            <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
                                <!-- <ng-container *ngIf="warehouse.owner == customerId"> -->
                                    {{warehouse.name}}
                                <!-- </ng-container> -->
                            </mat-option>
                            <mat-option disabled>Agency</mat-option>
                            <mat-option *ngFor="let agency of agencies" [value]="agency.id">
                                <!-- <ng-container *ngIf="agency.customerId == customerId"> -->
                                    {{agency.name}}
                                <!-- </ng-container> -->
                            </mat-option>
                            <!-- <mat-option value="8">Lumia Warehouse</mat-option>
                            <mat-option value="4">Client Warehouse</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Item Status</mat-label>
                        <mat-select name="status" id="status" [(ngModel)]="itemModel.isUsed">
                            <mat-option value="0">New</mat-option>
                            <mat-option value="1">Used</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Condition</mat-label>
                        <mat-select matInput name="condition" id="condition" [(ngModel)]="itemModel.status">
                            <mat-option value="OPERATIVE">OPERATIVE</mat-option>
                            <mat-option value="BROKEN">BROKEN</mat-option>
                            <mat-option value="WARRANTY">WARRANTY</mat-option>
                            <mat-option value="LOST">LOST</mat-option>
                            <mat-option value="PENDING">PENDING</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- {{itemModel | json}} -->
            </div>
            <div class="btncenter">
                <div>
                  <button mat-raised-button class="cancel" routerLink="/warehouse"><span class="material-icons">
                  clear</span>Cancel</button>
                </div>
                <div>
                  <button mat-raised-button class="savebtn" type="submit"><span class="material-icons">
                    done
                    </span> Save</button>
                </div>
              </div>
            </form>
            
        </div>
    </div>