<p>viewticket works!</p>
<div class="forminmargin">
    <mat-card class="example-card">
        <mat-card-header>
          <div class=""><span class="material-icons">receipt</span></div>
          <mat-card-title>Created Ticket</mat-card-title>
          <mat-card-subtitle>Date: </mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div>
                <h2>Ticket Data</h2>
                <mat-list color="primary">
                    <mat-list-item>Ticket ID: </mat-list-item>
                    <mat-list-item>Code: </mat-list-item>
                    <mat-list-item>Creation Date: </mat-list-item>
                    <mat-list-item>Created by: </mat-list-item>
                    <mat-list-item>Ticket type: </mat-list-item>
                    <mat-list-item>Priority: </mat-list-item>
                </mat-list>
            </div>
            <div>
                <h2>Agency</h2>
                <mat-list>
                    <mat-list-item>Agency name: </mat-list-item>
                    <mat-list-item>Shop code: </mat-list-item>
                    <mat-list-item>AAMS Code: </mat-list-item>
                    <mat-list-item>Address: </mat-list-item>
                    <mat-list-item>Phone: </mat-list-item>
                    <mat-list-item>Email: </mat-list-item>
                </mat-list>
            </div>
            <div>
                <h2>Additional Information: </h2>
                <p> </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">EDIT TICKET</button>
          <button mat-raised-button color="warn">ABORT TICKET</button>
        </mat-card-actions>
      </mat-card>

</div>