
<div style="background-color: whitesmoke; margin: 0;">
    <div class="forminmargin">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <!-- <div style="width: 90px;" [ngClass]="{'TicketResolved':theTicket.status === 'RESOLVED', 'TicketAborted': theTicket.status === 'ABORTED', 'TicketManaged': theTicket.status === 'MANAGING', 'TicketOpened':theTicket.status ==='OPENED'}"></div>
                        <mat-select name="" id="" [(value)]="theTicket.status">
                            <mat-option>NONE</mat-option>
                            <mat-option value="OPENED">OPENED</mat-option>
                            <mat-option value="MANAGING">MANAGING</mat-option>
                            <mat-option value="RESOLVED">RESOLVED</mat-option>
                            <mat-option value="ABORTED">ABORTED</mat-option>
                        </mat-select>   -->
        <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Ticket general Information</ng-template>
        <div *ngFor="let theTicket of theTicketData; let i = index" [class.active]="i == currentIndex">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Created Ticket</mat-card-title>
                  <mat-card-subtitle >Date: {{theTicket.creationDate}}</mat-card-subtitle>
                  <div style="border-left: 1px solid black; padding-left: 20px; border-left-style: dashed; border-right: 1px solid black; padding-right: 20px; border-right-style: dashed;">
                      Ticket Status:
                      <div>
                          <div style="width: 90px;" [ngClass]="{'TicketResolved':theTicket.status === 'RESOLVED', 'TicketAborted': theTicket.status === 'ABORTED', 'TicketManaged': theTicket.status === 'MANAGING', 'TicketOpened':theTicket.status ==='OPENED'}">
                            <div>
                                {{theTicket.status}}
                            </div>
                              <!-- <span style="display: flex; width: 100px; align-content: center;">{{theTicket.status}}</span> -->
                            </div>
                      </div>
                  </div>
                </mat-card-header>
            <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <div>
                            <h2>Ticket Data</h2>
                            <div color="primary" >
                                <table>
                                    <tr>
                                        <td colspan="1" style="width: 150px;">Ticket ID</td>
                                        <td>:</td>
                                        <td colspan="1">{{theTicket.id}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">Code</td>
                                        <td>:</td>
                                        <td colspan="1">{{theTicket.code}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">Creation Date</td>
                                        <td>:</td>
                                        <td colspan="1">{{theTicket.creationDate}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">Created by</td>
                                        <td>:</td>
                                        <td colspan="1">{{theTicket.createdBy}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="1">Ticket type</td>
                                        <td >:</td>
                                        <td colspan="1">{{theTicket.type}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">Priority</td>
                                        <td>:</td>
                                        <td colspan="1">{{theTicket.priority}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <h2>Agency Information</h2>
                                <div>
                                    <table>
                                        <tr>
                                            <td colspan="1" style="width: 150px;">Agency Name</td>
                                            <td>:</td>
                                            <td colspan="1">{{theTicket.id}} | {{theTicket.name}}</td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">AAMS Code</td>
                                            <td>:</td>
                                            <td colspan="1">{{theTicket.certification}}</td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Address</td>
                                            <td>:</td>
                                            <td colspan="1">{{theTicket.address}}</td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Phone</td>
                                            <td>:</td>
                                            <td colspan="1">{{theTicket.phone}}</td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="1">Email</td>
                                            <td >:</td>
                                            <td colspan="1">{{theTicket.email}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="1">Shop Code</td>
                                            <td>:</td>
                                            <td colspan="1">{{theTicket.managerId}}</td>
                                        </tr>
                                    </table>
                                </div>
                    </div>
                    <div style="border-top: 1px dotted gray;">
                        <div>
                            <h2>Additional Information:
                                <!-- <button mat-icon-button *ngIf="!showEdit" (click)="toogleEdit()">
                                    <mat-icon>edit</mat-icon> Edit
                                </button>
                                <button mat-icon-button *ngIf="showEdit" (click)="toogleEdit()">
                                    <mat-icon>west</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="showEdit" (click)="toogleEdit()">
                                    <mat-icon>save-alt</mat-icon>
                                </button> -->
                            </h2>
                        </div>
                        <div>
                            <ng-container class="full-width">
                                <mat-list>
                                    <mat-list-item style="color: black;" (ngModel)="theTicket.description">{{theTicket.description}}</mat-list-item>
                                    <!-- <mat-list-item style="color: black;" *ngIf="!showEdit" (ngModel)="theTicket.description">{{theTicket.description}}</mat-list-item> -->
                                </mat-list>
                                <!-- <input matInput type="text" name="description" id="description" *ngIf="showEdit" [(ngModel)]="theTicket.description" value="{{theTicket.description}}" /> -->
                            </ng-container>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
            <ng-container style="padding-top: 20px;">
                <mat-divider></mat-divider>
            </ng-container>
        </div>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Aditional Equipment to select</ng-template>
        <div>
            <additionalequipment></additionalequipment>
        </div>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <ng-template matStepLabel>Serialization of Equipment</ng-template>
        <div>
            <app-equipmententry></app-equipmententry>
        </div>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup">
            <ng-template matStepLabel>Technician Assigned</ng-template>
            <div>
                <mat-card-title>Techinician Asigned: </mat-card-title>
                    <mat-form-field class="full-width">
                        <mat-label>Technicians</mat-label>
                        <mat-select matNativeControl name="priority" id="priority">
                          <mat-option>None</mat-option>
                          <mat-option>Option Technician 2</mat-option>
                          <mat-option *ngFor="let tech of TechnicianList" [value]="tech.username">
                            <div style="line-height: 12px; font-weight: 400;">{{tech.id}} - {{tech.username}}</div>
                        </mat-option>
                       
                        </mat-select>
                      </mat-form-field>
            </div>
            </mat-step>
    </mat-vertical-stepper>
    <div style="height: 20px;"></div>
    <div class="container">
        <div class="row">
            <button mat-raised-button>CREATE DDT</button>
        </div>
        <div style="height: 20px;"></div>
        <div class="row">
            <button mat-raised-button>ABORT TICKET</button>
        </div>
    </div>
    </div>
</div>

<div style="position: fixed; right: 40px; bottom: 30px; display: inline-block;">
    <!-- <div style="padding-bottom: 20px;">
        <button mat-fab (click)="setCurrentTicket(theTicketData.id)" [routerLink]="['/edit-ticket/',theTicketData.id]"><mat-icon>edit-row</mat-icon></button>
    </div> -->
    <div style="padding-bottom: 20px;">
        <button mat-fab (click)="showEquipment()"><mat-icon>edit</mat-icon></button>
        <!-- [routerLink]="['/edit-ticket/',theTicketData.id] -->
    </div>
    <div>
        <button mat-fab color="warn" routerLink="/create-ticket"><mat-icon>close</mat-icon></button>
    </div>
</div>