<div class="boxformcreate">
  <div class="forminmargin">
    <h1 class="h1-form">CREATE NEW TICKET</h1>
    <form #ticketForm="ngForm" (ngSubmit)="saveTicket()">
      <p>
        <mat-form-field class="full-width" >
          <mat-label>Request Type:</mat-label>
          <select matNativeControl id="type" name="type" [(ngModel)]="ticketModel.type">
            <option value="INS">INSTALATION</option>
            <option value="INT">INTEGRATION</option>
            <option value="MAN">MAINTENANCE</option>
            <option value="DIS">UNINSTALL</option>
            <option value="SUP">SUPPORT</option>
            <option value="IND">INTEGRATION DELIVERY</option>
            <option value="MND">MAINTENANCE DELIVERY</option>
          </select>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field class="full-width" >
          <mat-label>Priority:</mat-label>
          <select matNativeControl name="priority" id="priority" [(ngModel)]="ticketModel.priority">
            <option value="LOW">Low Priority</option>
            <option value="NORMAL">Normal</option>
            <option value="HIGH">High Priority</option>
          </select>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field class="full-width" >
          <mat-label>Ticket Code</mat-label>
          <input matInput id="code" name="code" type="text" [(ngModel)]="ticketModel.code">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width" >
              <mat-label>Agency</mat-label>
              <input matInput id="agencyId" name="agencyId" type="text" [formControl]="myControl" [(ngModel)]="ticketModel.agencyId" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let agency of filteredAgencies | async" [value]="agency">
                  {{agency}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width">
              <mat-label>Details</mat-label>
              <textarea matInput name="description" id="description" [(ngModel)]="ticketModel.description"></textarea>
            </mat-form-field>
          </p>
          <input type="hidden" name="status" id="status" [(ngModel)]="ticketModel.status">
          <input type="hidden" name="createdBy" id="createdBy" [(ngModel)]="ticketModel.createdBy">
          <input type="hidden" name="creationDate" id="creationDate" [(ngModel)]="ticketModel.creationDate">

          <div class="btncenter">
            <div>
              <button mat-raised-button class="cancel" routerLink="/tickets"><span class="material-icons">
              clear</span>Cancel</button>
            </div>
            <div>
              <button mat-raised-button class="savebtn" type="submit"><span class="material-icons">
                done
                </span> Save</button>
            </div>
          </div>
      </form>

  </div>
</div>