<div class="boxformcreate">
  <div class="forminmargin">
    <h1 class="h1-form">CREATE NEW TICKET</h1>
    {{ticketModel | json}}
    <form #ticketForm="ngForm" (ngSubmit)="saveTicket()">
      <p>
        <mat-form-field class="full-width" >
          <mat-label>Request Type:</mat-label>
          <mat-select matNativeControl id="type" name="type" [(ngModel)]="ticketModel.type">
            <mat-option value="INS">INSTALATION</mat-option>
            <mat-option value="INT">INTEGRATION</mat-option>
            <mat-option value="MAN">MAINTENANCE</mat-option>
            <mat-option value="DIS">UNINSTALL</mat-option>
            <mat-option value="SUP">SUPPORT</mat-option>
            <mat-option value="IND">INTEGRATION DELIVERY</mat-option>
            <mat-option value="MND">MAINTENANCE DELIVERY</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field class="full-width" >
          <mat-label>Priority:</mat-label>
          <mat-select matNativeControl name="priority" id="priority" [(ngModel)]="ticketModel.priority">
            <mat-option value="LOW">Low Priority</mat-option>
            <mat-option value="NORMAL">Normal</mat-option>
            <mat-option value="HIGH">High Priority</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      
      <!-- <p>
        <mat-form-field class="full-width" >
          <mat-label>Ticket Code</mat-label>
          <input matInput id="code" name="code" type="text" [(ngModel)]="ticketModel.code">
            </mat-form-field>
          </p> -->
          <p>
            <mat-form-field class="full-width" >
              <mat-label>Agency</mat-label>
              <mat-select matNativeControl name="priority" id="priority" [(ngModel)]="ticketModel.agencyId">
                <mat-option *ngFor="let agency of AgencyList" [value]="agency.id">
                  {{agency.name}}
                  <!-- <table>
                    <tr>
                      <td>{{agency.managerId}} / {{agency.certification}} - {{agency.name}}</td>
                    </tr>
                    <tr>
                      <td>{{agency.address}}</td>
                    </tr>
                  </table> -->
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="full-width">
              <mat-label>Details</mat-label>
              <textarea matInput name="description" id="description" [(ngModel)]="ticketModel.description"></textarea>
            </mat-form-field>
          </p>
          <input type="hidden" name="status" id="status" [(ngModel)]="ticketModel.status">
          <input type="hidden" name="createdBy" id="createdBy" [(ngModel)]="ticketModel.createdBy">
          <!-- <input type="hidden" name="creationDate" id="creationDate" [(ngModel)]="ticketModel.creationDate"> -->

          <div class="btncenter">
            <div>
              <button mat-raised-button class="cancel" routerLink="/tickets"><span class="material-icons">
              clear</span>Cancel</button>
            </div>
            <div>
              <button mat-raised-button class="savebtn" type="submit"><span class="material-icons">
                done
                </span> Save</button>
            </div>
          </div>
      </form>

  </div>
</div>